<% layout("/layouts/boilerplate")-%>


<div id="filters">
    <div class="filter">
        <div class="icon"><i class="fa-solid fa-fire"></i></div>
        <p>Trending</p>
    </div>

    <div class="filter">
        <div class="icon"><i class="fa-solid fa-bed"></i></div>
        <p>Rooms</p>
    </div>

    <div class="filter">
        <div class="icon"><i class="fa-solid fa-mountain-city"></i></div>
        <p>Iconic cities</p>
    </div>

    <div class="filter">
        <div class="icon"><i class="fa-solid fa-mountain"></i></div>
        <p>Mountains</p>
    </div>

    <div class="filter">
        <div class="icon"><i class="fa-brands fa-fort-awesome"></i></div>
        <p>Castles</p>
    </div>

    <div class="filter">
        <div class="icon"><i class="fa-solid fa-person-swimming"></i></div>
        <p>Amazing Pools</p>
    </div> 
    
    <div class="filter">
        <div class="icon"><i class="fa-solid fa-campground"></i></div>
        <p>Camping</p>
    </div>   
    
    <div class="filter hideOp1">
        <div class="icon"><i class="fa-solid fa-cow"></i></div>
        <p>Farms</p>
    </div>      

    <div class="filter hideOp1">
        <div class="icon"><i class="fa-solid fa-snowflake"></i></div>
        <p>Arctic</p>
    </div>      

    <div class="filter hideOp">
        <div class="icon"><i class="fa-solid fa-igloo"></i></div>
        <p>Domes</p>
    </div>      

    <div class="filter hideOp">
        <div class="icon"><i class="fa-solid fa-ship"></i></div>
        <p>Boats</p>
    </div>  

        <div class="form-check form-switch form-check-reverse taxSwitch">
        <label class="form-check-label " for="switchCheckReverse">Display total after taxes</label>
            <input class="form-check-input" type="checkbox" id="switchCheckReverse">       
        </div>


    </div>
    


    

<div class="hideOptions">
        <button type="button" class="btn option-btn">Options</button>
        <button type="button" class="btn option-btn tax-btn">Price after tax</button>
</div>

<!--Listings Here!-->
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
        <%for(let list of allListings){%>  
            <a href="/listings/<%=list._id%>" class="listing-link"> 
             <div class="card listing-card">
             <img src="<%=list.image.url%>" class="card-img-top" alt="listing_image" style="height: 20rem;">
             <div class="card-img-overlay"></div>
             <div class="card-body">
             <p class="card-text">
                 <b><%=list.title%></b>  <br>
                  &#8377; <%=list.price.toLocaleString("en-IN")%> / night
                  &nbsp; &nbsp; <i class="tax-info">+18% GST</i>
             </p>
             </div>
             </div>
             </a> 
        <%}%>
        </div>


  